
/* <SELECT>============================= */
.select {
	position: relative;
	// .select__item
	&__item {

	}
	// .select__title
	&__title {
		color: $textColor;
		background-color: #fff;
		display: flex;
		align-items: center;
		min-height: 55px;
		border: 1px solid #000;
        border-radius: 12px;
        padding: 12px 45px 12px 21px;
		position: relative;
		cursor: pointer;

		@media (max-width: $md3+px) {
			min-height: 40px;
			padding: 8px 35px 8px 12px;
		}
	}
	// .select__value
	&__value {
		span {
			font-family: $mainFontFamily;
			font-size: 15px;
		}
		&:before {
			position: absolute;
			top: 50%;
			right: 16px;
			content: "";
			display: inline-block;
			transition: all 0.3s ease 0s;
			width: 0; 
			height: 0; 
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $mainColor;
			transform: translateY(-50%);

			@media (max-width: $md3+px) {
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 7px solid $mainColor;
			}
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		display: none;
		position: absolute;
		top: 100%;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border-top: 0;
		font-size: 14px;
		line-height: 170%;
		padding: 10px 0px 5px 0px;
		color: $textColor;
		box-shadow: 0px 0px 10px rgba(236, 157, 171, 0.3);
		max-height: 315px;
		overflow-y: auto;
	}
	// .select__option
	&__option {
		cursor: pointer;
		padding: 5px 15px;
		margin: 0px 0px 0px 0px;
		@media (min-width: 992px) {
			&:hover {
				background: rgba($mainColor, 0.3);
			}
		}
	}
	&._active {
		z-index: 5;
		.select__options {
			display: block;
		}
	}
}
/* and <SELECT>============================= */