.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:  rgba(#000, 0.8);
	z-index: 50;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&.open {
		opacity: 1;
		visibility: visible;

		& .popup_content {
			opacity: 1;
		}
	}

	&_body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 3rem;
		
		@media (max-width: $md3+px) {
			padding: 10px;
		}
	}

	&_content {
		background: #fcf8ed;
		max-width: 1060px;
		position: relative;
		width: 100%;
		transition: all 0.8s ease 0s;
		opacity: 0;
		outline: 0;
	}

}

.popup-btn {
    position: fixed;
    bottom: 30px;
    right: 20px;
    height: 60px;
    width: 60px;
    z-index: 49;
    font-family: $mainFontFamily;
}
.btn-tooltip {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    transform: translate(0%, calc(-100% - 20px));
    padding: 15px 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba($mainColor, 0.2);
    white-space: nowrap;
    color: $mainColor;
    font-size: 12px;
    font-weight: 700;
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0;
    background-color: #fff;

	&.show {
		opacity: 1;
	}

    &:before {
        position: absolute;
        content: "";
        right: 24px;
        bottom: 0;
        height: 18px;
        width: 18px;
        background-color: #fff;
        transform: translateY(50%) rotate(45deg);
    }
}
.popup-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 20px rgba($mainColor, 0.2);
    background-color: #fff;
    & svg {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;

        & path {
            fill: $mainColor;
        }
    }
}
