.popup-wrapper {
    position: relative;
    z-index: 60;
}

.form-quiz {
    &__item {
        min-height: 905px;
        display: flex;
        flex-direction: column;

        @media (max-width: $md3+px) {
            min-height: 505px;
        }
    }

    &__head {
        min-height: 175px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #fff;
        background-color: #29388b;
        font-size: 34px;
        padding: 20px 65px;

        @media (max-width: $md2+px) {
            min-height: 100px;
            padding: 20px 25px;
        }

        @media (max-width: $md3+px) {
            font-size: 22px;
            min-height: 70px;
            & img,
            & svg {
                max-height: 45px;
                margin-left: 10px;
            }
        }

        @media (max-width: $md4+px) {
            padding: 10px;
        }

        & img,
        & svg {
            max-height: 87px;
            flex: 0 0 auto;
            width: auto;
            height: auto;
            margin-left: 40px;
        }

        & svg {
            & path {
                fill: #fff;
                stroke: #fff !important;
            }

            & text {
                fill: #fff;
            }
        }
    }

    &__content {
        padding: 50px 65px 70px;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        @media (max-width: $md2+px) {
            padding: 30px 25px 50px;
        }

        @media (max-width: $md4+px) {
            padding: 20px 20px 50px;
        }

        & h3 {
            font-size: 34px;
            line-height: 1.2em;
            margin-bottom: 0.4em;
            font-weight: 400;
            letter-spacing: 0;

            @media (max-width: $md3+px) {
                font-size: 28px;
            }
            @media (max-width: $md4+px) {
                font-size: 24px;
            }
        }

        & p {
            font-size: 17px;
            line-height: 1.2em;
            margin-bottom: 1.5em;

            @media (max-width: $md3+px) {
                font-size: 15px;
            }
        }

        & a {
            color: #000;
            text-decoration: underline;
            font-size: 13px;
            transition: all 0.3s ease;

            @media (min-width: 992px) {
                &:hover {
                    opacity: 0.6;
                }
            }
        }

        & button {
            display: inline-flex;
            background-color: #ffaf49;
            border-radius: 12px;
            min-height: 61px;
            align-items: center;
            padding: 14px 90px 14px 24px;
            font-size: 22px;
            font-weight: 400;
            cursor: pointer;
            color: #000;
            flex: 0 0 auto;
            align-self: center;

            & span {
                display: inline-block;
                transition: all 0.3s ease;
            }

            @media (min-width: 992px) {
                &:hover {
                    color: #fff;
                    &:not(.close-popup):not(.prev) {
                        & span {
                            transform: translateX(35px);
                        }
                    }
                }
            }

            &.prev {
                padding: 14px 24px 14px 90px;

                @media (min-width: 992px) {
                    &:hover {
                        & span {
                            transform: translateX(-35px);
                        }
                    }
                }
            }

            &.close-popup:not(.first) {
                padding: 14px 24px 14px 24px;
                font-size: 32px;
                min-width: 280px;
                text-align: center;
                justify-content: center;
            }

            &.first {
                padding: 14px 24px 14px 24px;
                text-align: center;
                min-width: 160px;
                justify-content: center;

                @media (max-width: $md3+px) {
                    padding: 8px 16px 8px 16px;
                    font-size: 14px;
                    min-width: 124px;
                }
            }

            @media (max-width: $md3+px) {
                min-height: 40px;
                font-size: 14px;
                padding: 8px 50px 8px 16px;
                min-width: 124px;

                &.prev {
                    padding: 8px 16px 8px 50px;
                    justify-content: flex-end;
                }

                &.close-popup:not(.first) {
                    font-size: 24px;
                    padding: 12px 16px;
                    min-width: 220px;
                }
            }
        }
    }

    &__row {
        margin-bottom: 45px;

        @media (max-width: $md3+px) {
            margin-bottom: 25px;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__group-item {
        margin-right: 18px;
        margin-bottom: 18px;

        @media (max-width: $md3+px) {
            margin-right: 10px;
            margin-bottom: 15px;
        }

        &.half {
            @media (min-width: 480px) {
                flex: 0 1 calc(50% - 18px);

                @media (max-width: $md3+px) {
                    flex: 0 1 calc(50% - 10px);
                }
            }
        }

        @media (max-width: $md4+px) {
            flex: 0 1 100%;
            &:not(.mr-18) {
                margin-right: 0;
            }
        }
    }

    &__start {
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 745px;
            justify-content: space-between;
            margin-bottom: -30px !important;
        }
    }

    &__start-item {
        flex: 0 1 calc(50% - 15px);
        margin-bottom: 30px;

        @media (max-width: $md3+px) {
            margin-bottom: 15px;
        }

        & p {
            margin-bottom: 0;
        }
    }

    &__start-radio {
        display: block;
        cursor: pointer;

        & input {
            display: none;

            &:checked ~ .form-quiz__start-radio-content {
                background-color: #f3e0aa;
            }
        }
    }

    &__start-radio-content {
        display: flex;
        min-height: 113px;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        border-radius: 15px;
        font-size: 18px;
        padding: 12px 34px;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            &:hover {
                background-color: #faf2db;
            }
        }

        & img {
            max-height: 77px;
            width: auto;
            height: auto;
            display: inline-block;
            margin-left: 8px;
            flex: 0 0 auto;
        }

        @media (max-width: $md3+px) {
            min-height: 75px;
            padding: 10px 15px;
            font-size: 16px;

            & img {
                max-height: 50px;
            }
        }


        @media (max-width: $md4+px) {
            min-height: 65px;
            padding: 5px 10px;
        }
    }

    & .slider-start > .swiper-pagination {
        opacity: 0;
    }

    & .swiper-slide {
        opacity: 0 !important;
        min-width: 0;

        &.swiper-slide-active {
            opacity: 1 !important;
        }
    }

    & .swiper-pagination {
        top: auto;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 130px);
        border: 1px solid #000;
        height: 13px;
        background-color: #fff;

        @media (max-width: $md2+px) {
            width: calc(100% - 50px);
            bottom: 30px;
        }
        @media (max-width: $md4+px) {
            width: calc(100% - 20px);
        }

        & .swiper-pagination-progressbar-fill {
            background-color: #29378b;
            display: inline-block;
        }
    }

    &__calendar {
        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__calendar-label {
        flex: 1 1 auto;
        padding-right: 30px;
        font-size: 35px;
        margin-bottom: 20px;

        @media (max-width: $md3+px) {
            font-size: 28px;
        }
        @media (max-width: $md4+px) {
            font-size: 24px;
        }
    }

    &__calendar-body {
        flex: 0 0 55%;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 12px;
        height: 552px;
        overflow: hidden;
        position: relative;

        @media (max-width: $md2+px) {
            flex: 0 0 65%;
        }

        @media (max-width: $md3+px) {
            height: 400px;
        }

        @media (max-width: 575.98px) {
            height: 350px;
        }

        & .wpcf7-form-control-wrap {
            display: block;
            width: 100%;
            height: 100%;
        }

        & input {
            position: absolute;
            visibility: hidden;
            pointer-events: none;
        }
    }

    &__end {
    }

    &__end-img {
        & img {
            display: inline-block;
            width: auto;
            max-width: 100%;
            height: auto;

            @media (max-width: $md3+px) {
                height: 60px;
            }
        }
    }
}

.quiz-checkbox-radio {
    display: inline-block;
    cursor: pointer;

    @media (min-width: 992px) {
        &:hover {
            & .quiz-checkbox-radio__text {
                background-color: rgba($mainColor, 0.2);
            }
        }
    }

    & input {
        display: none;

        &:checked ~ .quiz-checkbox-radio__text {
            color: #fff;
            background-color: rgba($mainColor, 1) !important;
        }
    }

    &__text {
        display: inline-flex;
        min-width: 136px;
        min-height: 55px;
        text-align: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 12px;
        justify-content: center;
        padding: 12px 12px;
        font-size: 17px;
        transition: all 0.3s ease;

        @media (max-width: $md3+px) {
            font-size: 14px;
            min-height: 40px;
            padding: 8px;
            min-width: 100px;
        }
    }
}

.quiz-input {
    display: block;

    & span {
        display: block;
        font-size: 15px;
        margin-bottom: 0.666em;

        @media (max-width: $md3+px) {
            font-size: 13px;
        }
    }

    & input {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 8px 12px;
        font-size: 19px;
        color: #000;

        @media (max-width: $md3+px) {
            height: 40px;
            font-size: 16px;
        }

        &::placeholder {
            font-size: 19px;
            color: #a7a7a7;

            @media (max-width: $md3+px) {
                font-size: 16px;
            }
        }
    }
}

.quiz-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -7.5px;

    &__item {
        margin: 0 7.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid #000;
        border-radius: 10px;
        min-height: 68px;
        padding: 8px 20px;
        flex: 1 1 auto;
        max-width: 211px;
        min-width: 196px;
        margin-bottom: 15px;
        transition: all .3s ease;
        text-decoration: none !important; 

        @media (min-width: 992px) {
            &:hover {
                background-color: #faf2db;
            }
        }

        & p {
            margin-bottom: 0;
            font-size: 12px;
        }

        & img {
            flex: 0 0 auto;
            max-height: 47px;
            margin-left: 5px;
            width: auto;
            height: auto;
        }
    }
}

.display-none {
    display: none;
}
.flex {
    display: flex;
    flex: 0 1 auto;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-width-auto {
    flex: 0 1 auto !important;
}
.align-items-center {
    align-items: center;
}

.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.mt-auto {
    margin-top: auto;
}
.mr-18 {
    margin-right: 18px;

    @media (max-width: $md3+px) {
        margin-right: 10px;
    }
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}

.text-center {
    text-align: center;
}

.max-width-435 {
    max-width: 435px;
}
.max-width-680 {
    max-width: 680px;
}
.max-width-395 {
    max-width: 395px;
}
.max-width-290 {
    max-width: 290px;
}
.max-width-210 {
    max-width: 210px;
}
.min-width-150 {
    min-width: 150px;
}

.width-full {
    width: 100%;
}

.width-115 {
    width: 115px;
    flex: 0 0 115px;
}
